body {
    background: rgb(209, 209, 209);
}
.topo {
    display: flex;
    width: 55%;
    margin-top: -1%;
}
.logo {
    margin-top: -2%;
    margin-left: -165%;
    margin-right: 0%;
    
}
.tarja {
    margin-top: -3%;
    margin-left: -16.90%;
    margin-right: 0%;
}
.tela_login {
    margin-top: 40%;
    
}
.box-user {
    background-color: #04549c;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    margin-top: -2.98%;
}
.aba_login input{
    font-family:monospace;
    font-size: 16px;
    margin-top: 9%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 45%;
    padding: 2%;
    text-align: center;
    
}
.perfil {
    font-size: 20px;
    font-family: monospace;
    color: white;
    margin-left: 0%;
    margin-top: 3%;
}
.perfil select{
    font-size: 15px;
    font-family:monospace;
    background-color: #ffffff;
    color: black;
    text-align: center;
    margin-left: 5%;
    width: 30%;
    padding: 1%;
    border-style: solid;
    border-color: #04549c;
    border-radius: 10px;
    border-width: 3px;
}

.bt_cadastrar button{
    font-size: 20px;
    font-family:fantasy;
    width: 70%;
    background-color: #04549c;
    color: #ffffff;
    margin-top: 4%;
    align-items: center;
    padding: 1%;
    border-style: groove;
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
    cursor: pointer; 
}

.bt_cadastrar button:hover {
    background-color: white;
    color:#04549c;
    transition: 0.3s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.80);
    align-items: center;
    width: 225px;
    height: 50px;
}

.bt_cadastrar button:active{
    transform: translate(10px);
}

.bt_entrar button{
    font-size: 20px;
    font-family:fantasy;
    width: 25%;
    background-color: #04549c;
    color: #ffffff;
    align-items: center;
    margin-top: 2%;
    padding: 1%;
    border-style: groove;
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
    cursor: pointer;
}

.bt_entrar button:hover {
    transition: 0.3s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.80);
    align-items: center;
    width: 85px;
    height: 45px;
}

.bt_entrar button:active{
    transform: translate(10px);
}

.rodape {
    background: linear-gradient(#045cac,#045cac,#045cac);
    border-color: #04549c;
    border-radius: 3px;
    margin-left:0%;
    margin-top: 7.6%;
    
    align-items: center;
}

.rod_cab{
    margin-top: -1%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.texto_fiemg{
    margin-left: 60%;
    margin-top: -8%;
}

.texto_fale {
    margin-left: 60%;
    margin-top: 1%;
}

.texto_sac{
    margin-left: 60%;
    margin-top: 1%;
}
.texto_intra{
    margin-left: 60%;
    margin-top: 1%;
}
